<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../css/bootstrap.css">

  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.js"></script>

  <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
  <div class="container" style="padding-top: 5em">
      <div class="jumbotron text-center">
          <h1> Chat Room</h1>

          <p>Login or Register:</p>

          <a href="/login" class="btn btn-default">Login</a>
          <a href="/signup" class="btn btn-default">Signup</a>
      </div>
  </div>
</body>
</html>