.container {
    padding-top: 5em;
}

h2 {
    border-bottom: 1px solid #D6D0C1;
}

.wrapper {
    background-color: ghostwhite;
    min-height: 350px;
    padding: 8px;
}

.wrapper p {
    font-size: 14px;
    word-break: break-all;
}

.pad {
    padding: 0 5px 0 5px;
}

.row {
    padding-top: 5px;
    padding-bottom: 5px;
}